.error{
    background-color: rgb(236, 148, 148);
}

#pets{
    color: green;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;

}

.pet{
    background-color: rgb(217, 211, 211);
    border: 1px solid gray(255, 0, 0);
    border-radius: 10px;
    padding: 10px;

}

#numberPets{
    font-size: 12px;
    background-color: greenyellow;
    padding: 3px;
    border-radius: 50%;


}